.swiper-slide {
  width: 25rem;
  height: 28rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 20rem;
    height: 25rem;
  }
}

.swiper-slide:nth-child(1n) {
  background-color: #dfe2ff;
}

.swiper-slide:nth-child(2n) {
  background-color: #ffdfdf;
}

.swiper-slide:nth-child(3n) {
  background-color: #fff8df;
}

.swiper-pagination-bullet {
  background-color: #7c7c7c;
  width: 28px;
  height: 8px;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 38px;
  background: linear-gradient(to right, #75b4f1, #a475f0);
}

/* styles for tooltip  */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
