@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swiper_container {
  height: 500px;
  padding: 2rem 0;
  position: relative;
} */

.swiper-slide {
  width: 37rem;
  height: 28rem;
  position: relative;
}
.swiper-slide:nth-child(1n) {
  background-color: #dfe2ff;
}

.swiper-slide:nth-child(2n) {
  background-color: #ffdfdf;
}

.swiper-slide:nth-child(3n) {
  background-color: #fff8df;
}

/* .slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
